.panels {
  display: flex;
  min-height: 50vh;
  overflow: hidden;
  flex-direction: column;
  flex: 0 50%;
}

@media only screen and (min-width: 500px) {
  .panels {
    flex-direction: row;
    flex: 0 50%;
  }

  .panels.horizontal {
    flex-direction: column;
  }
}